@page
@model IEnumerable<Product>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
@if (TempData["ResultOk"] != null)
{
    <div id="alert-div" class="alert alert-success position-fixed top-0 end-0 border border-success rounded-pill py-2 px-3" style="max-width: 450px;">
        <span class="fw-bold" style="font-size: 16px;">@TempData["ResultOk"]</span>
        <button type="button" class="btn-close float-start" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        // Get the alert element
        var alertDiv = document.getElementById("alert-div");

        // Wait for 5 seconds and then hide the alert
        setTimeout(function () {
            alertDiv.style.display = "none";
        }, 3000);
    </script>
}
<div class="header-section d-flex justify-content-between align-items-center my-3">
    <h2 class="text-cam fw-bold">Danh sách sản phẩm</h2>
    <a asp-controller="Product" asp-action="Create" class="btn btn-cam">Thêm mới sản phẩm</a>
</div>
<div class="table-responsive table-section">
    <table id="customerDatatable" class="table table-bordered table-hover custom-table" cellspacing="0" width="100%">
        <thead class="table-header text-white bg-cam">
            <tr>
                <th>ID</th>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phầm</th>
                <th>Loại danh mục</th>
                <th>Nhà cung cấp</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/productdatatable.js"></script>
    <!-- Buttons CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <!-- Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <!-- JSZip for Excel Export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

}