@page
@model IEnumerable<Supplier>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
@if (TempData["ResultOk"] != null)
{
    <div id="alert-div" class="alert alert-success position-fixed top-0 end-0 border border-success rounded-pill py-2 px-3" style="max-width: 450px;">
        <span class="fw-bold" style="font-size: 16px;">@TempData["ResultOk"]</span>
        <button type="button" class="btn-close float-start" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        // Auto hide alert after 3 seconds
        setTimeout(function () {
            document.getElementById("alert-div").style.display = "none";
        }, 3000);
    </script>
}
<div class="header-section d-flex justify-content-between align-items-center my-3">
    <h2 class="text-cam fw-bold">Danh sách nhà cung cấp</h2>
    <a asp-controller="Supplier" asp-action="Create" class="btn btn-cam">Thêm mới nhà cung cấp</a>
</div>
<div class="container">
    <br />
    <div class="table-responsive table-section">
        <table id="customerDatatable" class="table table-bordered table-hover custom-table" cellspacing="0" width="100%">
            <thead class="table-header text-white bg-cam">
            <tr>
                    <th>ID</th>
                    <th>STT</th>
                    <th>Mã nhà cung cấp</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Email</th>
                    <th>Mô tả</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/SupplierDatatable.js"></script>
}