@page
@model IEnumerable<ReSales>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

@if (TempData["ResultOk"] != null)
{
    <div id="alert-div" class="alert alert-success position-fixed top-0 end-0 border border-success rounded-pill py-2 px-3" style="max-width: 450px;">
        <span class="fw-bold" style="font-size: 16px;">@TempData["ResultOk"]</span>
        <button type="button" class="btn-close float-start" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById("alert-div").style.display = "none";
        }, 3000);
    </script>
}

<div class="header-section d-flex justify-content-between align-items-center my-3">
    <h2 class="text-cam fw-bold">Danh sách người mua trả lại thuốc</h2>
    <a asp-controller="ReSalse" asp-action="Create" class="btn btn-cam">Thêm đơn hàng trả</a>
</div>

<div class="table-responsive table-section">

    <div id="dateFilterWrapper"
         style="display:flex; align-items:center; gap:8px; margin-bottom:8px;">
        <label for="fromDate" style="margin:0;">Từ ngày:</label>
        <input type="date" id="fromDate"
               class="form-control form-control-sm"
               style="max-width:160px;" />
        <label for="toDate" style="margin:0;">Đến ngày:</label>
        <input type="date" id="toDate"
               class="form-control form-control-sm"
               style="max-width:160px;" />
    </div>
    <table id="customerDatatable" class="table table-bordered table-hover custom-table" cellspacing="0" width="100%">
        <thead class="table-header text-white bg-cam">
            <tr>
                <th>ID</th>
                <th>STT</th>
                <th>Mã trả hàng</th>
                <th>Mã lô</th>
                <th>Ngày trả</th>
                <th>Tên khách hàng</th>
                <th>Lí do trả</th>   @* <-- CỘT MỚI *@
                <th>Tổng tiền</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script src="~/js/reSalesdatatable.js"></script>
}
